.action {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 44px;
    height: 44px;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
    .action::before {
        content: "";
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        bottom: 2px;
        border-radius: 50%;
        transition: background-color var(--transition-hover);
    }

    @media (hover: hover) {
        .action:hover::before {
            background-color: var(--action-hover);
        }

        .action:active::before {
            background-color: var(--action-active);
            transition: none;
        }
    }

    .action::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center center;
    }


    .action--close::after { background-image: url("../vectors/cross.svg"); }
