.alphabet {
    display: inline-flex;
    vertical-align: top;
    align-items: flex-start;
}
    .alphabet__vowels {
        margin: 30px 20px;
    }

    html:not(.display-vowels) .alphabet__vowels {
        display: none;
    }

    .alphabet__consonants-marks-settings {
        margin: 30px 20px;
    }
        .alphabet__consonants {
            margin-bottom: var(--section-margin);
        }

        html:not(.display-consonants) .alphabet__consonants {
            display: none;
        }


        .alphabet__marks {
            margin-bottom: calc(1.5 * var(--section-margin));
        }

        html:not(.display-marks) .alphabet__marks {
            display: none;
        }


@media (min-device-width: 600px) {

    .alphabet {

    }
        .alphabet__vowels {
            margin: 30px;
        }

        .alphabet__consonants-marks-settings {
            margin: 30px;
        }
            .alphabet__consonants {

            }

            .alphabet__marks {
                margin-bottom: 0;
            }
}
