.checklist {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
    /* чтобы все айтемы были одинаковой ширины: */
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
}
    .checklist__item {
        /* чтобы все айтемы были одинаковой ширины: */
        display: inline-flex;
        flex-direction: column;
        align-items: stretch;
    }


/* recursive checklists */
.checklist__item .checklist {

}
    /* recursive checklists items */
    .checklist__item .checklist__item {
        margin-left: 6px;
        border-left: 1px solid var(--color-separator);
        padding-left: 18px;
    }



.checklist--horizontal {
    flex-direction: row;
}
    .checklist--horizontal > .checklist__item .choice__label {

    }



.checklist--letters {
    width: 100%;
}
    .checklist--letters > .checklist__item {
        padding-right: 40px;
    }



.checklist--font {
    display: block;
    columns: 3;
    gap: 24px;
}
    .checklist--font .checklist__item {
        display: block;
    }
