.choice {
    display: inline-flex;
    align-items: flex-start;
    vertical-align: top;
    padding-top: 6px;
    padding-bottom: 6px;
    user-select: none;
    cursor: pointer;
}

/* In case of DOM mixing (for the sake of the DOM size) */
.choice.checklist__item {
    display: inline-flex;
    align-items: flex-start;
    flex-direction: row;
}

.choice--full-width {
    width: 100%;
}
    .choice__widget {
        flex-shrink: 0;
        margin-top: 4px;
        margin-right: 10px;
        cursor: inherit;
    }

    .choice__icon {

    }

    .choice__label {
        display: block;
        font-size: 15px;
        line-height: 20px;
    }
        .choice__heading {
            display: block;
        }

        .choice__description {
            margin-top: 4px;
            display: block;
            font-size: 13px;
            line-height: 18px;
        }


.choice--as-heading {

}
    .choice--as-heading .choice__label {
        font-weight: bold;
    }
