/* идентично .marks (править параллельное) */

.consonants {

}
    /* убираем с экрана: */
    .consonants__heading {
        position: fixed;
        right: 200%;
        bottom: 200%;
        margin-top: 0;
        margin-bottom: var(--heading-margin);
    }

    html:not(.display-headings) .consonants__heading {
        display: none;
    }

    .consonants__columns {
        display: none;
    }

    .consonants__body {

    }
        .consonants__section {
            margin-bottom: var(--section-margin);
        }

        .consonants__section:last-child {
            margin-bottom: 0;
        }

        /* stylelint-disable */
        html:not(.display-consonants-high)   .consonants__section--high   { display: none; }
        html:not(.display-consonants-middle) .consonants__section--middle { display: none; }
        html:not(.display-consonants-low)    .consonants__section--low    { display: none; }
        /* stylelint-enable */

            .consonants__sub-heading {
                margin-top: 0;
                margin-bottom: var(--heading-margin);
            }

            html:not(.display-headings) .consonants__sub-heading {
                display: none;
            }

            .consonants__list {

            }
                .consonants__sub-class {
                    margin-bottom: 40px;
                }

                .consonants__sub-class:last-child {
                    margin-bottom: 0;
                }

                /* stylelint-disable */
                html:not(.display-consonants-low-sonorant) .consonants__sub-class--sonorant { display: none; }
                html:not(.display-consonants-low-dead) .consonants__sub-class--dead         { display: none; }
                /* stylelint-enable */

                    .consonants__sub-head {
                        display: flex;
                        align-items: flex-start;
                    }

                    html:not(.display-headings) .consonants__sub-head {
                        display: none;
                    }
                        .consonants__alt-heading {
                            margin-top: 0;
                            margin-bottom: 0;
                            padding-bottom: 12px;
                        }

                        .consonants__heading-hint {
                            margin: -5px -6px -7px -8px;
                        }

                    .consonants__alt-list {

                    }



.display-by-sound .consonants {

}
    .display-by-sound .consonants__heading {

    }

    .display-by-sound .consonants__columns {
        position: relative;
        display: grid;
        grid-gap: 40px 60px;
        grid-template-columns: repeat(3, 1170px);
        grid-auto-flow: column;
        margin-bottom: 40px;
    }
        .display-by-sound .consonants__group {
            display: grid;
            grid-auto-flow: column;
        }
            .display-by-sound .consonants__sound {
                position: relative;
                padding-top: 10px;
                padding-bottom: 14px;
                width: 150px;
                margin-left: 20px;
                text-align: center;
                background-color: #F3F3F3;
                border-radius: 12px 12px 0 0;
                cursor: pointer;
            }

            .display-by-sound .consonants__sound:hover {
                background-color: #EBEBEB;
            }

            .display-by-sound .consonants__sound:first-child {
                margin-left: 0;
            }


    .display-by-sound .consonants__body {
        width: 3550px;
        display: grid;
        grid-gap: 40px 60px;
        grid-template-columns: repeat(3, 1170px);
    }
        .display-by-sound .consonants__section {
            margin-bottom: 0;
        }

        .display-by-sound .consonants__section--high {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .display-by-sound .consonants__section--middle {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .display-by-sound .consonants__section--low {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }
            .display-by-sound .consonants__sub-class--sonorant {
                /*position: absolute;*/
                /*left: 0;*/
                /*top: 200px;*/
            }

            .display-by-sound .consonants__sub-class--dead {
                /*position: absolute;*/
                /*left: 1190px;*/
                /*top: 200px;*/
            }

            .display-by-sound .consonants__sub-heading {
                /*margin-top: 0;*/
                /*margin-bottom: var(--heading-margin);*/
            }

            .display-by-sound .consonants__list {

            }

            .display-by-sound .consonants__section--low .consonants__list {
                display: flex;
                align-items: flex-start;
            }
                .display-by-sound .consonants__sub-class {
                    margin-bottom: 0;
                    margin-right: 60px;
                }

                .display-by-sound .consonants__sub-class:last-child {
                    margin-right: 0;
                }
                    .display-by-sound .consonants__sub-head {
                        /*display: flex;*/
                        /*align-items: flex-start;*/
                    }
                        .display-by-sound .consonants__alt-heading {
                            /*margin-top: 0;*/
                            /*margin-bottom: 0;*/
                            /*padding-bottom: 12px;*/
                        }

                        .display-by-sound .consonants__heading-hint {
                            /*margin: -5px -6px -7px -8px;*/
                        }

                    .display-by-sound .consonants__alt-list {

                    }


    /* фоновые полоски */
    .display-by-sound .consonants .letter::before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        margin-left: -2px;
        width: 4px;
        background-color: #F8F8F8;
        bottom: 0;
        height: 3000px;
    }

    /* обрезаем полоски в самом верху */
    .display-by-sound .consonants__columns::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        background-color: #FFFFFF;
        bottom: 100%;
        height: 100px;
    }



.display-alphabetically .consonants {

}
    .display-alphabetically .consonants__heading {
        position: static;
    }

    .display-alphabetically .consonants__columns {

    }

    .display-alphabetically .consonants__body {

    }
        .display-alphabetically .consonants__section {
            margin-bottom: 0;
        }
            .display-alphabetically .consonants__sub-heading {
                display: none;
            }

            .display-alphabetically .consonants__list {

            }
                .display-alphabetically .consonants__sub-class {
                    margin-bottom: 0;
                }

                .display-alphabetically .consonants__sub-class:last-child {
                    margin-bottom: 0;
                }
                    .display-alphabetically .consonants__sub-head {
                        display: none;
                    }

                    .display-alphabetically .consonants__alt-list {

                    }

.display-alphabetically .consonants__body {
    position: relative;
}
    .display-alphabetically .consonants .letter {
        position: absolute;
        margin: 0;
    }

/* 1 */
.display-alphabetically .consonants__body {
    width: 830px;
    height: 1384px;
}

/* stylelint-disable */
.display-alphabetically .letter--ko-kai       { left: 0;     top: 0; }
.display-alphabetically .letter--kho-khai     { left: 170px; top: 0; }
.display-alphabetically .letter--kho-khwai    { left: 340px; top: 0; }
.display-alphabetically .letter--kho-rakhang  { left: 510px; top: 0; }
.display-alphabetically .letter--ngo-ngu      { left: 680px; top: 0; }
.display-alphabetically .letter--jo-jan       { left: 0;     top: 156px; }
.display-alphabetically .letter--cho-ching    { left: 170px; top: 156px; }
.display-alphabetically .letter--cho-chang    { left: 340px; top: 156px; }
.display-alphabetically .letter--so-so        { left: 510px; top: 156px; }
.display-alphabetically .letter--cho-cho      { left: 680px; top: 156px; }
.display-alphabetically .letter--yo-ying      { left: 0;     top: 312px; }
.display-alphabetically .letter--do-chada     { left: 170px; top: 312px; }
.display-alphabetically .letter--to-patak     { left: 340px; top: 312px; }
.display-alphabetically .letter--tho-than     { left: 510px; top: 312px; }
.display-alphabetically .letter--tho-montho   { left: 680px; top: 312px; }
.display-alphabetically .letter--tho-phuthau  { left: 0;     top: 468px; }
.display-alphabetically .letter--no-nen       { left: 170px; top: 468px; }
.display-alphabetically .letter--do-dek       { left: 340px; top: 468px; }
.display-alphabetically .letter--to-tau       { left: 510px; top: 468px; }
.display-alphabetically .letter--tho-thung    { left: 680px; top: 468px; }
.display-alphabetically .letter--tho-thahan   { left: 0;     top: 624px; }
.display-alphabetically .letter--tho-thong    { left: 170px; top: 624px; }
.display-alphabetically .letter--no-nu        { left: 340px; top: 624px; }
.display-alphabetically .letter--bo-baimai    { left: 510px; top: 624px; }
.display-alphabetically .letter--po-pla       { left: 680px; top: 624px; }
.display-alphabetically .letter--pho-phing    { left: 0;     top: 780px; }
.display-alphabetically .letter--fo-fa        { left: 170px; top: 780px; }
.display-alphabetically .letter--pho-phan     { left: 340px; top: 780px; }
.display-alphabetically .letter--fo-fan       { left: 510px; top: 780px; }
.display-alphabetically .letter--pho-samphau  { left: 680px; top: 780px; }
.display-alphabetically .letter--mo-ma        { left: 0;     top: 936px; }
.display-alphabetically .letter--yo-yak       { left: 170px; top: 936px; }
.display-alphabetically .letter--ro-ria       { left: 340px; top: 936px; }
.display-alphabetically .letter--lo-ling      { left: 510px; top: 936px; }
.display-alphabetically .letter--wo-weng      { left: 680px; top: 936px; }
.display-alphabetically .letter--so-sala      { left: 0;     top: 1092px; }
.display-alphabetically .letter--so-risi      { left: 170px; top: 1092px; }
.display-alphabetically .letter--so-sia       { left: 340px; top: 1092px; }
.display-alphabetically .letter--ho-hip       { left: 510px; top: 1092px; }
.display-alphabetically .letter--lo-jula      { left: 680px; top: 1092px; }
.display-alphabetically .letter--o-ang        { left: 0;     top: 1248px; }
.display-alphabetically .letter--ho-nokhu     { left: 170px; top: 1248px; }
/* stylelint-enable */


/* 2 */
.display-alphabetically:not(.display-sanskrit) .consonants__body {
    height: 916px;
}

/* stylelint-disable */
.display-alphabetically:not(.display-sanskrit) .letter--ko-kai       { left: 0; top: 0; }
.display-alphabetically:not(.display-sanskrit) .letter--kho-khai     { left: 170px; top: 0; }
.display-alphabetically:not(.display-sanskrit) .letter--kho-khwai    { left: 340px; top: 0; }
.display-alphabetically:not(.display-sanskrit) .letter--ngo-ngu      { left: 510px; top: 0; }
.display-alphabetically:not(.display-sanskrit) .letter--jo-jan       { left: 680px; top: 0; }
.display-alphabetically:not(.display-sanskrit) .letter--cho-ching    { left: 0; top: 156px; }
.display-alphabetically:not(.display-sanskrit) .letter--cho-chang    { left: 170px; top: 156px; }
.display-alphabetically:not(.display-sanskrit) .letter--so-so        { left: 340px; top: 156px; }
.display-alphabetically:not(.display-sanskrit) .letter--do-dek       { left: 510px; top: 156px; }
.display-alphabetically:not(.display-sanskrit) .letter--to-tau       { left: 680px; top: 156px; }
.display-alphabetically:not(.display-sanskrit) .letter--tho-thung    { left: 0; top: 312px; }
.display-alphabetically:not(.display-sanskrit) .letter--tho-thahan   { left: 170px; top: 312px; }
.display-alphabetically:not(.display-sanskrit) .letter--no-nu        { left: 340px; top: 312px; }
.display-alphabetically:not(.display-sanskrit) .letter--bo-baimai    { left: 510px; top: 312px; }
.display-alphabetically:not(.display-sanskrit) .letter--po-pla       { left: 680px; top: 312px; }
.display-alphabetically:not(.display-sanskrit) .letter--pho-phing    { left: 0; top: 468px; }
.display-alphabetically:not(.display-sanskrit) .letter--fo-fa        { left: 170px; top: 468px; }
.display-alphabetically:not(.display-sanskrit) .letter--pho-phan     { left: 340px; top: 468px; }
.display-alphabetically:not(.display-sanskrit) .letter--fo-fan       { left: 510px; top: 468px; }
.display-alphabetically:not(.display-sanskrit) .letter--mo-ma        { left: 680px; top: 468px; }
.display-alphabetically:not(.display-sanskrit) .letter--yo-yak       { left: 0; top: 624px; }
.display-alphabetically:not(.display-sanskrit) .letter--ro-ria       { left: 170px; top: 624px; }
.display-alphabetically:not(.display-sanskrit) .letter--lo-ling      { left: 340px; top: 624px; }
.display-alphabetically:not(.display-sanskrit) .letter--wo-weng      { left: 510px; top: 624px; }
.display-alphabetically:not(.display-sanskrit) .letter--so-sia       { left: 680px; top: 624px; }
.display-alphabetically:not(.display-sanskrit) .letter--ho-hip       { left: 0; top: 780px; }
.display-alphabetically:not(.display-sanskrit) .letter--o-ang        { left: 170px; top: 780px; }
.display-alphabetically:not(.display-sanskrit) .letter--ho-nokhu     { left: 340px; top: 780px; }
/* stylelint-enable */
