/* Separated from all the other custom fonts so it will be loaded together with the main CSS file */
@font-face {
    font-display: swap;
    font-family: "Sarabun";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/sarabun-v17-latin_thai-regular.woff2") format("woff2");
}
