.explain {
    position: relative; /* для баблов внутри */
    display: inline-block;
    vertical-align: top;
}
    .explain__icon {
        display: inline-block;
        vertical-align: top;
        width: 40px;
        height: 40px;
        padding: 14px;
        border: none;
        background-color: transparent;
        background-image: url("../vectors/hint.svg");
        background-size: 12px 12px;
        background-position: center center;
        background-repeat: no-repeat;
        text-indent: 300%;
        white-space: nowrap;
        overflow: hidden;
        cursor: help;
    }

    .explain__popover,
    .explain__popover.bubble {
        position: absolute;
        left: 50%;
        bottom: calc(100% - 8px);
        transform: translateX(-50%);
    }


.explain--question {

}
    .explain--question .explain__icon {
        background-image: url("../vectors/hint-question.svg");
    }
