.explanation {
    display: flex;
    align-items: center;
}
    .explanation__term {
        display: flex;
        align-items: flex-start;
        font-family: var(--font-thai);
        font-size: 16px;
    }
        .explanation__term .placeholder {
            color: #888888;
        }

    .explanation__arrow {
        margin-left: 3px;
        margin-top: 2px;
    }

    .explanation__description {
        margin-left: 3px;
        position: relative;
        white-space: nowrap; /* все переносы делаем вручную, чтобы контролировать строки */
    }
        .explanation__description .explain {
            position: absolute;
            left: 100%;
            top: 50%;
            margin-top: -18px;
            margin-left: -10px;
        }

.explanation + .explanation {
    margin-top: 4px;
}


.explanation--o {

}
    .explanation--o .explanation__arrow {
        position: absolute;
        left: 2px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-image: url("../vectors/o-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        pointer-events: none;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    .explanation--o .explanation__description {
        margin-left: 4px;
    }




.explanation-ro {

}
    .explanation-ro .explanation__arrow {
        position: absolute;
        left: 2px;
        top: 1px;
        width: 16px;
        height: 16px;
        background-image: url("../vectors/ro-arrow.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        pointer-events: none;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    .explanation-ro .explanation__description {
        margin-left: 4px;
    }


