.letter-legend {

}
    .letter-legend__body {
        display: flex;
        align-items: flex-start;
    }
        .letter-legend__preview {
            flex-shrink: 0;
        }
            .letter-legend__screenshot {
                vertical-align: top;
                margin-left: -16px;
                margin-top: -16px;
            }

        .letter-legend__content {
            margin-left: 20px;
        }
            .letter-legend__line {
                margin-top: 8px;
                font-size: var(--body-font);
                line-height: var(--body-line);
                color: var(--body-color);
            }

            .letter-legend__line:first-child {
                margin-top: 0;
            }
                .letter-legend__index {
                    display: inline-block;
                    vertical-align: top;
                    width: 22px;
                    height: 22px;
                    padding: 1px;
                    background-color: #FE5454;
                    border-radius: 50%;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 20px;
                    color: #FFFFFF;
                    text-align: center;
                }

    .letter-legend__footer {
        margin-top: 20px;
        font-size: var(--body-font);
        line-height: var(--body-line);
        color: var(--body-color);
    }
