.letter {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 136px;
    background-color: #FBFBFB;
    box-shadow: 0 1px 2px 1px #EAEAEA;
    border-radius: 4px;
    padding-top: 13px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: background-color var(--transition-hover);
}

.letter[data-audio]:not(.letter--not-available):hover {
    background-color: #F6F6F6;
}

    .letter__title {
        position: relative;
        z-index: 10; /* higher than hover of .letter__sound */
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-family: var(--font-thai);
        font-weight: normal;
        font-size: 42px;
        line-height: 42px;
        text-align: center;
    }
        .letter__title .explain {
            margin: 6px -32px -6px -8px;
        }

    .letter__title--pushed {
        margin-top: 12px;
    }

    .letter__title--pushed-a-little {
        margin-top: 6px;
    }

    .letter__sound {
        align-self: center;
        margin-top: 4px;
        position: relative;
        min-width: 24px;
        padding: 3px 8px 5px;
        border-radius: 2px;
        display: block;
        font-style: normal;
        font-size: 13px;
        line-height: 16px;
        color: var(--font-faded);
        text-align: center;
        white-space: nowrap;
        transition: background-color var(--transition-hover);
    }

    .letter__sound--pushed {
        margin-top: 16px;
    }

    .letter__sound--has-hint {

    }

        .letter__sound .explain {
            margin: -11px -16px -13px -12px;
        }

    .letter__sound[data-audio]:hover {
        background-color: var(--hover-in-letter);
    }

    .letter__sound + .letter__sound {
        margin-top: 0;
    }

    .letter__end-sound {
        position: absolute;
        right: 4px;
        top: 59px;
        display: block;
        padding: 3px 8px 5px;
        min-width: 24px;
        border-radius: 2px;
        font-style: normal;
        font-size: 13px;
        line-height: 16px;
        color: var(--font-faded);
        text-align: center;
        white-space: nowrap; /* чтобы подсказка внутри не улетала на новую строку */
    }

    .letter__end-sound[data-audio]:hover {
        background-color: var(--hover-in-letter);
    }
        .letter__end-sound .not-available {
            margin-right: -2px;
        }
        .letter__end-sound .explain {
            margin: -11px -16px -13px -12px;
        }

        .letter__word {
            position: absolute;
            left: 5px;
            bottom: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            border-radius: 2px;
            transition: background-color var(--transition-hover);
        }

        .letter__word[data-audio]:hover {
            background-color: var(--hover-in-letter);
        }
            .letter__name {
                display: block;
                padding: 0 5px;
                font-family: var(--font-thai);
                font-weight: normal;
                font-size: 17px;
                line-height: 21px;
            }

            .letter__script {
                display: block;
                padding: 0 2px 2px 5px;
                font-style: normal;
                font-size: 11px;
                line-height: 11px;
                color: var(--font-faded);
            }

    .letter__translation {
        position: absolute;
        right: 10px;
        bottom: 7px;
        min-height: 33px;
        display: flex;
        align-items: center;
        font-size: 11px;
        line-height: 11px;
    }

    .letter__translation--smaller {
        margin-bottom: -1px;
        font-size: 10px;
    }

    .letter__key {
        position: absolute;
        right: 7px;
        top: 6px;
        display: block;
        min-width: 16px;
        padding: 0 4px 2px;
        background-color: #F5F5F5;
        border: 1px solid #EDEDED;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        font-size: 10px;
        line-height: 12px;
        color: #BBBBBB;
        text-align: center;
    }
        .letter__key .explain {
            position: absolute;
            z-index: 20; /* higher than .letter__title */
            right: 100%;
            top: 0;
            margin-right: -9px;
            margin-top: -12px;
        }

        .letter__key .placeholder {
            color: #888888;
        }

    .letter__note {
        position: absolute;
        left: 8px;
        right: 6px;
        bottom: 6px;
        min-height: 33px;
        font-size: 11px;
        line-height: 11px;
    }



.letter--not-available {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    font-size: 20px;
    line-height: 20px;
    background-color: #F3F3F3;
    box-shadow: none;
    color: #999999;
    cursor: default;
}
    .letter--not-available .explain {
        margin: -10px -32px -10px -8px;
    }
