/* идентично .consonants (править параллельное) */


.marks {

}
    .marks__heading {

    }

    .marks__body {

    }
        .marks__section {
            margin-bottom: var(--section-margin);
        }

        .marks__section:last-child {
            margin-bottom: 0;
        }

            /* stylelint-disable */
            html:not(.display-marks-digits) .marks__section--digits { display: none; }
            html:not(.display-marks-tones)  .marks__section--tones { display: none; }
            html:not(.display-marks-other)  .marks__section--other { display: none; }
            /* stylelint-enable */

            .marks__sub-heading {
                margin-top: 0;
                margin-bottom: var(--heading-margin);
            }

            html:not(.display-headings) .marks__sub-heading {
                display: none;
            }

            .marks__list {

            }

