/* stylelint-disable declaration-colon-space-after */
:root {
    --font-default: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica Neue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-thai: Sarabun;
    --font-placeholder: "Tahoma";

    --font-color: #333333;
    --font-faded: #666666;

    --color-script: #666666;
    --color-thai: #000000;

    --transition-show: 0.5s ease;
    --transition-hover: 0.1s ease;
    --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);

    --color-separator: #EEEEEE;

    --section-margin: 60px;
    --heading-margin: 30px;

    --action-color: #808080;
    --action-hover: #F3F3F3;
    --action-active: #E8E8E8;

    --hover-in-letter: #EBEBEB;

    --body-font: 15px;
    --body-line: 22px;
    --body-color: #333333;

    --image-fallback: #E8E8E8;

    --input-border: #B3B3B3;
    --input-border-hover-and-focus: #7E7E7E;
    --placeholder-color: #999999;
    --disabled-background: #F6F6F6;
    --disabled-color: #999999;
    --error: #FF0033;
}
/* stylelint-enable declaration-colon-space-after */
