.script {
    color: var(--color-script);
    white-space: nowrap;
}

.script::before {
    content: "/";
}

.script::after {
    content: "/";
}


.script--no-slashes::before,
.script--no-slashes::after {
    display: none;
}
    .script sup {
        font-weight: 500;
        font-size: 0.65em;
    }
