.settings {
    padding: 40px 30px 0;
}
    .settings__handler {
        display: none;
    }

    .settings__panel {
        will-change: transform, opacity;
    }
        .settings__body {
            width: 540px; /* скроллбар уровнем выше, так что здесь всегда фикс ширина */
        }
            .settings__heading {
                margin-top: 0;
                margin-bottom: 20px;
            }

            @media (max-device-width: 599px) {

                .settings__close {
                    display: none !important;
                }
            }

            .settings__list {

            }
                .settings__section {
                    margin-top: 30px;
                }
                    .settings__sample {
                        padding-top: 6px;
                        padding-bottom: 6px;
                        font-size: 15px;
                        line-height: 20px;
                    }


                    .settings__row {
                        display: flex;
                        align-items: flex-start;
                    }
                        .settings__column {
                            position: relative;
                            margin-left: 40px;
                            padding-left: 40px;
                        }

                        .settings__column:first-child {
                            margin-left: 0;
                            padding-left: 0;
                        }
                            .settings__column::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 10px;
                                bottom: 10px;
                                width: 1px;
                                background-color: var(--color-separator);
                            }

                            .settings__column:first-child::before {
                                display: none;
                            }

/* device query */
@media (min-device-width: 600px) {

    .settings {
        padding: 0;
    }
        .settings__handler {
            position: fixed;
            z-index: 90;
            right: 30px;
            bottom: 30px;
            display: inline-block;
            vertical-align: top;
            width: 60px;
            height: 60px;
            padding: 0;
            border: none;
            background-color: #F3F3F3;
            box-shadow: 0 1px 2px 1px #EAEAEA;
            border-radius: 50%;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            transition: background-color var(--transition-hover);
        }

        @media (hover: hover) {
            .settings__handler:hover {
                background-color: #EEEEEE;
            }
        }

            /* cogwheel */
            .settings__handler::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 30px;
                height: 30px;
                background-image: url("../vectors/cogwheel.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                will-change: transform;
            }

        .settings__panel {
            position: fixed;
            z-index: 100;
            right: 30px;
            bottom: 120px;
            background-color: #FFFFFF;
            box-shadow: 0 1px 10px 4px #EAEAEA;
            border-radius: 10px;
            overflow-y: auto;
            max-height: calc(100vh - 150px);
            display: none;
        }
            .settings__body {
                width: 620px;
                padding: 30px 40px 60px;
            }
                .settings__heading {

                }

                .settings__close {
                    position: absolute !important;
                    right: 16px;
                    top: 16px;
                }



    /* Если мало высоты, то позиционируем панельку поверх кнопкиы */
    @media (max-height: 600px) {
        .settings__panel {
            bottom: 30px;
            max-height: calc(100vh - 60px);
        }
    }



    /* stylelint-disable */
    @keyframes settings-panel {
        from { opacity: 0; transform: translateY(30px); }
        to   { opacity: 1; transform: translateY(0); }
    }

    @keyframes settings-cogwheel {
        from { transform: rotate(0); }
        to   { transform: rotate(180deg); }
    }
    /* stylelint-enable */

    .settings-expanded {

    }
        .settings-expanded .settings__handler {
            background-color: #EAEAEA;
            box-shadow: none;
        }

        @media (hover: hover) {
            .settings-expanded .settings__handler:hover {
                background-color: #EEEEEE;
            }
        }
            .settings-expanded .settings__handler::before {
                animation: settings-cogwheel 0.4s ease forwards;
            }

        .settings-expanded .settings__panel {
            display: block;
            animation: settings-panel 0.4s var(--easeOutCirc) forwards;
        }

    /* Чуть увеличиваем отступы вокруг панели для больших мониторов */
    @media (min-width: 1400px) {

        .settings {

        }
            .settings__handler {
                right: 40px;
                bottom: 40px;
            }

            .settings__panel {
                right: 40px;
                bottom: 140px;
                max-height: calc(100vh - 180px);
            }

            /* Если при этом ещё мало высоты, то позиционируем панельку поверх кнопкиы */
            @media (max-height: 700px) {
                .settings__panel {
                    bottom: 40px;
                    max-height: calc(100vh - 80px);
                }
            }
    }

/* /device query */
}


