.typeface {
    padding: 40px 30px 0;
}
    .typeface__handler {
        display: none;
    }

    .typeface__panel {
        will-change: transform, opacity;
    }
        .typeface__body {
            width: 540px; /* скроллбар уровнем выше, так что здесь всегда фикс ширина */
        }
            .typeface__heading {
                margin-top: 0;
                margin-bottom: 32px;
                margin-left: -2px;
            }

            @media (max-device-width: 599px) {

                .typeface__close {
                    display: none !important;
                }
            }

            .typeface__content {

            }
                .typeface__section {
                    margin-top: 30px;
                }

                .typeface__section:first-child {
                    margin-top: 0;
                    border-top: none;
                    padding-top: 0;
                }

                    .typeface__sub-heading {
                        margin-top: 0;
                        margin-bottom: 16px;
                        margin-left: -1px;
                    }

                    .typeface__description {
                        margin-top: -8px;
                        margin-bottom: 8px;
                        font-size: var(--body-font);
                        line-height: var(--body-line);
                    }



/* device query */
@media (min-device-width: 600px) {

    .typeface {
        padding: 0;
    }
        .typeface__handler {
            position: fixed;
            z-index: 90;
            right: 110px;
            bottom: 30px;
            display: inline-block;
            vertical-align: top;
            width: 60px;
            height: 60px;
            padding: 0;
            border: none;
            background-color: #F3F3F3;
            box-shadow: 0 1px 2px 1px #EAEAEA;
            border-radius: 50%;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            transition: background-color var(--transition-hover);
        }

        .typeface__handler:hover {
            background-color: #EEEEEE;
        }

            /* icon left */
            .typeface__handler::before,
            .typeface__handler::after {
                content: "";
                position: absolute;
                background-image: url("../vectors/typeface.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                will-change: transform;
            }

            .typeface__handler::before {
                left: 14px;
                bottom: 14px;
                width: 25px;
                height: 31px;
            }

            .typeface__handler::after {
                right: 11px;
                bottom: 14px;
                width: 14px;
                height: 19px;
            }

        .typeface__panel {
            position: fixed;
            z-index: 100;
            right: 30px;
            bottom: 120px;
            background-color: #FFFFFF;
            box-shadow: 0 1px 10px 4px #EAEAEA;
            border-radius: 10px;
            overflow-y: auto;
            max-height: calc(100vh - 150px);
            display: none;
        }
            .typeface__body {
                width: 620px;
                padding: 30px 40px 60px;
            }
                .typeface__heading {

                }

                .typeface__close {
                    position: absolute !important;
                    right: 16px;
                    top: 16px;
                }



    /* Если мало высоты, то позиционируем панельку поверх кнопкиы */
    @media (max-height: 600px) {
        .typeface__panel {
            bottom: 30px;
            max-height: calc(100vh - 60px);
        }
    }



    /* stylelint-disable */
    @keyframes typeface-panel {
        from { opacity: 0; transform: translateY(30px); }
        to   { opacity: 1; transform: translateY(0); }
    }
    /* stylelint-enable */

    /* stylelint-disable */
    @keyframes typeface-move-left {
          0% { transform: scaleX(1); }
         100% { transform: scaleX(-1) }
    }

    @keyframes typeface-move-right {
          0% { transform: scaleX(1); }
         100% { transform: scaleX(-1) }
    }
     /*stylelint-enable*/

    .typeface--expanded {

    }
        .typeface--expanded .typeface__handler {
            background-color: #EAEAEA;
            box-shadow: none;
        }

        .typeface--expanded .typeface__handler:hover {
            background-color: #EEEEEE;
        }
            .typeface--expanded .typeface__handler:hover::before {
                animation: typeface-move-left 0.3s ease;
            }

            .typeface--expanded .typeface__handler:hover::after {
                animation: typeface-move-right 0.3s ease;
            }

        .typeface--expanded .typeface__panel {
            display: block;
            animation: typeface-panel 0.4s var(--easeOutCirc) forwards;
        }

    /* Чуть увеличиваем отступы вокруг панели для больших мониторов */
    @media (min-width: 1400px) {

        .typeface {

        }
            .typeface__handler {
                right: 120px;
                bottom: 40px;
            }

            .typeface__panel {
                right: 40px;
                bottom: 140px;
                max-height: calc(100vh - 180px);
            }

            /* Если при этом ещё мало высоты, то позиционируем панельку поверх кнопкиы */
            @media (max-height: 700px) {
                .typeface__panel {
                    bottom: 40px;
                    max-height: calc(100vh - 80px);
                }
            }
    }

/* /device query */
}


