.typefaces {
    padding: 40px 30px 0;
}
    .typefaces__handler {
        display: none;
    }

    .typefaces__panel {
        will-change: transform, opacity;
    }
        .typefaces__body {
            width: 540px; /* скроллбар уровнем выше, так что здесь всегда фикс ширина */
        }
            .typefaces__heading {
                margin-top: 0;
                margin-bottom: 32px;
                margin-left: -2px;
            }

            @media (max-device-width: 599px) {

                .typefaces__close {
                    display: none !important;
                }
            }

            .typefaces__content {

            }
                .typefaces__section {
                    margin-top: 30px;
                }

                .typefaces__section:first-child {
                    margin-top: 0;
                    border-top: none;
                    padding-top: 0;
                }

                    .typefaces__sub-heading {
                        margin-top: 0;
                        margin-bottom: 16px;
                        margin-left: -1px;
                    }

                    .typefaces__summary {
                        margin-top: 0;
                        margin-bottom: 0;
                    }



/* device query */
@media (min-device-width: 600px) {

    .typefaces {
        padding: 0;
    }
        .typefaces__handler {
            position: fixed;
            z-index: 90;
            right: 110px;
            bottom: 30px;
            display: inline-block;
            vertical-align: top;
            width: 60px;
            height: 60px;
            padding: 0;
            border: none;
            background-color: #F3F3F3;
            box-shadow: 0 1px 2px 1px #EAEAEA;
            border-radius: 50%;
            text-indent: 200%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            transition: background-color var(--transition-hover);
        }

        .typefaces__handler:hover {
            background-color: #EEEEEE;
        }
            /* cogwheel */
            .typefaces__handler::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto;
                width: 30px;
                height: 30px;
                background-image: url("../vectors/info.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                will-change: transform;
            }

        .typefaces__panel {
            position: fixed;
            z-index: 100;
            right: 30px;
            bottom: 120px;
            background-color: #FFFFFF;
            box-shadow: 0 1px 10px 4px #EAEAEA;
            border-radius: 10px;
            overflow-y: auto;
            max-height: calc(100vh - 150px);
            display: none;
        }
            .typefaces__body {
                width: 620px;
                padding: 30px 40px 60px;
            }
                .typefaces__heading {

                }

                .typefaces__close {
                    position: absolute !important;
                    right: 16px;
                    top: 16px;
                }



    /* Если мало высоты, то позиционируем панельку поверх кнопкиы */
    @media (max-height: 600px) {
        .typefaces__panel {
            bottom: 30px;
            max-height: calc(100vh - 60px);
        }
    }



    /* stylelint-disable */
    @keyframes typefaces-panel {
        from { opacity: 0; transform: translateY(30px); }
        to   { opacity: 1; transform: translateY(0); }
    }
    /* stylelint-enable */

    /* stylelint-disable */
    @keyframes typefaces-info {
          0% { transform: rotate(0); }
         20% { transform: rotate(10deg); }
         40% { transform: rotate(-10deg); }
         60% { transform: rotate(7deg); }
         80% { transform: rotate(-7deg); }
        100% { transform: rotate(0); }
    }
    /* stylelint-enable */

    .typefaces-expanded {

    }
        .typefaces-expanded .typefaces__handler {
            background-color: #EAEAEA;
            box-shadow: none;
        }

        .typefaces-expanded .typefaces__handler:hover {
            background-color: #EEEEEE;
        }
            .typefaces-expanded .typefaces__handler::before {
                animation: typefaces-info 0.4s ease forwards;
            }

        .typefaces-expanded .typefaces__panel {
            display: block;
            animation: typefaces-panel 0.4s var(--easeOutCirc) forwards;
        }

    /* Чуть увеличиваем отступы вокруг панели для больших мониторов */
    @media (min-width: 1400px) {

        .typefaces {

        }
            .typefaces__handler {
                right: 120px;
                bottom: 40px;
            }

            .typefaces__panel {
                right: 40px;
                bottom: 140px;
                max-height: calc(100vh - 180px);
            }

            /* Если при этом ещё мало высоты, то позиционируем панельку поверх кнопкиы */
            @media (max-height: 700px) {
                .typefaces__panel {
                    bottom: 40px;
                    max-height: calc(100vh - 80px);
                }
            }
    }

/* /device query */
}


