.vlisting {
    display: inline-flex;
    align-items: stretch;
}
    .vlisting__column {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        /*justify-content: center; центрирование по вертикали */
    }

    .vlisting__column:first-child {
        margin-left: 0;
    }
        .vlisting__item {
            margin-top: 20px;
        }

        .vlisting__item:first-child {
            margin-top: 0;
        }

/* всё, что не первая строка */
html:not(.display-sanskrit) .vlisting__item:nth-child(n+2) {
    display: none;
}
