.vowels {
    position: relative;
    width: 320px;
}
    .vowels__heading {
        margin-top: 0;
        margin-bottom: var(--heading-margin);
    }

    html:not(.display-headings) .vowels__heading {
        display: none;
    }

    .vowels__table-head {
        display: flex;
        align-items: flex-start;
        padding-bottom: 10px;
        margin-left: -10px;
        margin-right: -10px;
    }

    html:not(.display-headings) .vowels__table-head {
        display: none;
    }
        .vowels__hgroup {

        }
            .vowels__column-heading {
                width: 50%;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
            }
                .vowels__column-heading .heading-note {
                    display: block;
                }


    .vowels__body {

    }
        .vowels__section {
            margin-bottom: 20px;
        }

        .vowels__section:last-child {
            margin-bottom: 0;
        }

        /* stylelint-disable */
        html:not(.display-vowels-basic)       .vowels__section--basic       { display: none; }
        html:not(.display-vowels-complex)     .vowels__section--complex     { display: none; }
        html:not(.display-vowels-short-sound) .vowels__section--short-sound { display: none; }
        html:not(.display-vowels-diftongs)    .vowels__section--diftongs    { display: none; }
        html:not(.display-vowels-quasi)       .vowels__section--quasi       { display: none; }
        /* stylelint-enable */


            .vowels__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 10px;
                padding-bottom: 14px;
            }

            html:not(.display-headings) .vowels__sub-heading {
                display: none;
            }

            .vowels__list {

            }
